# Created by .ignore support plugin (hsz.mobi)
*.swo
*.swp

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore build manifests
manifest*.json

# Ignore gradle.properties to allow setting persistent property overrides
gradle.properties

# Ignore instance data
xnat/.env
xnat/instance
xnat/xnat-conf

# except sample config
!xnat/xnat-conf/*.sample.*